@media screen and (max-width: 678px) {
  #desktop-navbar {
    display: none;
  }
  #mobile-navbar {
    display: block;
  }
}
@media screen and (min-width: 678px) {
  /* body {
    display: none;
  } */
  #desktop-navbar {
    display: block;
  }
  #mobile-navbar {
    display: none;
  }
}
